html, body, #outer {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-variant-ligatures: contextual;
    font-feature-settings: "calt" 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.content-container {
  flex: 1 0 auto;
  padding-top: 1vh;
  width: 100%;
}

h1 {
    color: blue;
}

#outer {
    display: table;
}

#inner_fixed {
    /* background-color: grey; */

    display: table-row;
}

#inner_remaining {
    /* background-color: #DDDDDD; */

    display: table-row;
}
